In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_diabetes

In [3]:
diab = load_diabetes()
print(diab.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [4]:
diab

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990749, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06833155, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286131, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04688253,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452873, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00422151,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

In [5]:
df = pd.DataFrame(diab.data, columns=diab.feature_names) # create a dataframe from the data
df['target'] = diab.target

In [6]:
df.head() # data is scaled normalization to put all the columns in the same scale (less same scale takes less compuation time for the model)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [7]:
X = df.drop('target', axis=1) # input features / varibalbes
y = df['target'] # Target variable

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # random_state (it's a seed value to reproduce the same result (data split in the same way)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [10]:
lr = LinearRegression() # initailize the model

lr.fit(X_train, y_train)  # train the model

LinearRegression()

In [11]:
#evaluate the model
y_pred = lr.predict(X_test)

In [12]:
df2 =pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [13]:
df2

     Actual   Predicted
287   219.0  139.547558
211    70.0  179.517208
72    202.0  134.038756
321   230.0  291.417029
73    111.0  123.789659
..      ...         ...
255   153.0  115.011800
90     98.0   78.955842
57     37.0   81.560873
391    63.0   54.379973
24    184.0  166.254352

[89 rows x 2 columns]

In [14]:
#add two more columns to the dataframe df2 abosulte error and squared error
df2['Absolute Error'] = abs(df2['Actual'] - df2['Predicted'])
df2['Squared Error'] = (df2['Actual'] - df2['Predicted'])**2
df2
#Delete Abs Err and Sq Err columns
df2.drop(['Absolute Error', 'Squared Error'], axis=1, inplace=True)

In [15]:
df2

     Actual   Predicted
287   219.0  139.547558
211    70.0  179.517208
72    202.0  134.038756
321   230.0  291.417029
73    111.0  123.789659
..      ...         ...
255   153.0  115.011800
90     98.0   78.955842
57     37.0   81.560873
391    63.0   54.379973
24    184.0  166.254352

[89 rows x 2 columns]

In [16]:
# np.mean(df2['Abs Error'])

In [17]:
# np.mean(df2['Sq Error'])

In [18]:
mse = mean_squared_error(y_test, y_pred)
mse

2900.193628493483

In [19]:
mae = mean_absolute_error(y_test, y_pred)
mae

42.794094679599944

In [20]:
r2 = r2_score(y_test, y_pred)
r2 # fix this

0.45260276297191915

In [21]:
r2 = 1- (np.sum((y_test - y_pred)**2) / np.sum((y_test - np.mean(y_test))**2)) # manually calculate the r2 score
r2

0.45260276297191915

In [22]:
lr.coef_,lr.intercept_

(array([  37.90402135, -241.96436231,  542.42875852,  347.70384391,
        -931.48884588,  518.06227698,  163.41998299,  275.31790158,
         736.1988589 ,   48.67065743]),
 151.34560453985995)

In [23]:
#metrics for training data
y_pred_train = lr.predict(X_train)

mean_squared_err_trained_data = mean_squared_error(y_train, y_pred_train)
print("Mean Squared Error (Training Data):", mean_squared_err_trained_data)
mean_absolute_error_trained_data = mean_absolute_error(y_train, y_pred_train)
print("Mean Absolute Error (Training Data):", mean_absolute_error_trained_data)

r2_trained_data = 1 - (np.sum((y_train - y_pred_train)**2) / np.sum((y_train - np.mean(y_train))**2))
print("R2 Score (Training Data):", r2_trained_data)

Mean Squared Error (Training Data): 2868.549702835577
Mean Absolute Error (Training Data): 43.483503523980396
R2 Score (Training Data): 0.5279193863361498

In [24]:
# metrics for testing data
mean_squared_err_test_data = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (Testing Data):", mean_squared_err_test_data)
mean_absolute_error_test_data = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (Testing Data):", mean_absolute_error_test_data)
r2_test_data = 1 - (np.sum((y_test - y_pred)**2) / np.sum((y_test - np.mean(y_test))**2))
print("R2 Score (Testing Data):", r2_test_data)

Mean Squared Error (Testing Data): 2900.193628493483
Mean Absolute Error (Testing Data): 42.794094679599944
R2 Score (Testing Data): 0.45260276297191915

In [25]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

ridge = Ridge() # initialize the model
ridge.fit(X_train, y_train) # train the model
y_pred_ridge = ridge.predict(X_test) # return the prediction for test data
y_pred_ridge_train = ridge.predict(X_train) # prediction for train data 

print("-- Metrics for Ridge Regression on training data--")
print("Mean Squared Error (Training Data):", mean_squared_error(y_train, y_pred_ridge_train))
print("Mean Absolute Error (Training Data):", mean_absolute_error(y_train, y_pred_ridge_train))
print("R2 Score (Training Data):", 1 - (np.sum((y_train - y_pred_ridge_train)**2) / np.sum((y_train - np.mean(y_train))**2)) )

print("-- Metrics for Ridge Regression on testing data--")
print("Mean Squared Error (Testing Data):", mean_squared_error(y_test, y_pred_ridge))
print("Mean Absolute Error (Testing Data):", mean_absolute_error(y_test, y_pred_ridge))
print("R2 Score (Testing Data):", 1 - (np.sum((y_test - y_pred_ridge)**2) / np.sum((y_test - np.mean(y_test))**2)))

-- Metrics for Ridge Regression on training data--
Mean Squared Error (Training Data): 3388.1826180801313
Mean Absolute Error (Training Data): 48.8051936622374
R2 Score (Training Data): 0.4424027835503952
-- Metrics for Ridge Regression on testing data--
Mean Squared Error (Testing Data): 3077.41593882723
Mean Absolute Error (Testing Data): 46.13885766697452
R2 Score (Testing Data): 0.41915292635986545

In [26]:
lasso = Lasso() # initialize the model

lasso.fit(X_train, y_train) # train the model
y_pred_lasso = lasso.predict(X_test) # return the prediction for test data
y_pred_lasso_train = lasso.predict(X_train) # prediction for train data

print("-- Metrics for Lasso Regression on training data--")
print("Mean Squared Error (Training Data):", mean_squared_error(y_train, y_pred_lasso_train))
print("Mean Absolute Error (Training Data):", mean_absolute_error(y_train, y_pred_lasso_train))
print("R2 Score (Training Data):", 1 - (np.sum((y_train - y_pred_lasso_train)**2) / np.sum((y_train - np.mean(y_train))**2)))
print("-----------------------------------")
print("-- Metrics for Lasso Regression on testing data--")
print("Mean Squared Error (Testing Data):", mean_squared_error(y_test, y_pred_lasso))
print("Mean Absolute Error (Testing Data):", mean_absolute_error(y_test, y_pred_lasso))
print("R2 Score (Testing Data):", 1 - (np.sum((y_test - y_pred_lasso)**2) / np.sum((y_test - np.mean(y_test))**2)))

-- Metrics for Lasso Regression on training data--
Mean Squared Error (Training Data): 3860.7549830123576
Mean Absolute Error (Training Data): 52.95878032849505
R2 Score (Training Data): 0.3646309911295581
-----------------------------------
-- Metrics for Lasso Regression on testing data--
Mean Squared Error (Testing Data): 3403.5757216070747
Mean Absolute Error (Testing Data): 49.73032753662261
R2 Score (Testing Data): 0.3575918767219112

In [27]:
elastic = ElasticNet() # initialize the model

elastic.fit(X_train, y_train) # train the model
y_pred_elastic = elastic.predict(X_test) # return the prediction for test data
y_pred_elastic_train = elastic.predict(X_train) # prediction for train data

print("-- Metrics for Elastic Net Regression on training data--")
print("Mean Squared Error (Training Data):", mean_squared_error(y_train, y_pred_elastic_train))
print("Mean Absolute Error (Training Data):", mean_absolute_error(y_train, y_pred_elastic_train))
print("R2 Score (Training Data):", 1 - (np.sum((y_train - y_pred_elastic_train)**2) / np.sum((y_train - np.mean(y_train))**2)))
print("-----------------------------------")
print("-- Metrics for Elastic Net Regression on testing data--")
print("Mean Squared Error (Testing Data):", mean_squared_error(y_test, y_pred_elastic))
print("Mean Absolute Error (Testing Data):", mean_absolute_error(y_test, y_pred_elastic))
print("R2 Score (Testing Data):", 1 - (np.sum((y_test - y_pred_elastic)**2) / np.sum((y_test - np.mean(y_test))**2)))

-- Metrics for Elastic Net Regression on training data--
Mean Squared Error (Training Data): 6022.3083478943745
Mean Absolute Error (Training Data): 66.16280406468873
R2 Score (Training Data): 0.008901600088515704
-----------------------------------
-- Metrics for Elastic Net Regression on testing data--
Mean Squared Error (Testing Data): 5311.21282167187
Mean Absolute Error (Testing Data): 63.70590076411911
R2 Score (Testing Data): -0.0024652131111431164

In [28]:
import pickle # best model is ridge because it has the lowest error and highest r2 score
pickle.dump(ridge, open('model_ridge.pkl', 'wb')) # save the model to disk

In [29]:
pickle.dump(lr,open('model_lr.pkl','wb'))
pickle.dump(lasso,open('model_lasso.pkl','wb'))

In [30]:
pickle.dump(elastic,open('model_elastic.pkl','wb'))

In [31]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,442.000000
mean,-2.511817e-19,1.230790e-17,-2.245564e-16,-4.797570e-17,-1.381499e-17,3.918434e-17,-5.777179e-18,-9.042540e-18,9.293722e-17,1.130318e-17,152.133484
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,77.093005
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01,25.000000
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665608e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324559e-02,-3.317903e-02,87.000000
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670422e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947171e-03,-1.077698e-03,140.500000
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564379e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243232e-02,2.791705e-02,211.500000
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01,346.000000